annotated-types                                             
anyio                                             
asyncio                                             
beautifulsoup4                                             
certifi                                           
click                                             
colorama                                             
distro                                             
fastapi                                             
h11                                             
httpcore                                             
httpx                                             
idna                                             
jiter                                             
numpy                                             
openai                                             
pandas                                             
pydantic                                             
pydantic_core                                             
PyPDF2                                             
python-dateutil                                               
python-dotenv                                             
python-multipart                                              
pytz                                             
six                                             
sniffio                                             
soupsieve                                             
starlette                                             
tabula-py                                             
tqdm                                             
typing_extensions                                             
tzdata                                             
uvicorn                                             
zipfile36                                             
openpyxl                                               
